.portfolio-items {
	min-height: 770px;
}
.wrapper-portfolio {
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	min-height: 100%;
}
.projects {
	padding-left: 20px;
	margin: auto;
	display: inline-block;
	display: -moz-inline-stack;
	text-decoration: none;
	list-style: none;
}
.project {
	margin: auto;
	position: relative;
	padding-right: 25px;
	padding-bottom: 35px;
	display: inline-block;
	display: -moz-inline-stack;
	width: 180px;
	vertical-align: top;
	text-align: center;
}
.wrap-img {
	width: 100%;
	height: 120px;
	border: 2px solid #3ba8c0;
	border-radius: 4px;
}

/* BEGIN Hover effect over project */
.project:hover .more-info  {
	display: block;
     /* Doesn't work for IE8 */
	/*-ms-transform: translate(45px,45px); 
   	-webkit-transform: translate(45px,45px); 
    transform: translate(45px,45px);*/
}
.project:hover  .img-preview {
	opacity: 0.2;
}/* END Hover effect over project */

.project-info-link {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background: #016ca4;
}

.more-info {
	display: none;
	position: absolute;
	width: 90px;
	color: white;
	margin-left: 45px;
	margin-top: 45px;
	background: #016ca4;
	border: 2px solid white;
	border-radius: 4px;
}

.img-preview {
	height: 120px;
	width: 100%;
}
.project-link {
	font: italic 13px 'fira_sanslight';
	color: #3ba8c0;
}
.project-about {
	font: normal 15px 'fira_sanslight';
	color: #4a545d;
}
.project.new {
	position: relative;
	border: 2px dashed #3ba8c0;
	border-radius: 4px;
	width: 180px;
	height: 125px;
	text-align: center;
	font: normal 13px 'fira_sanslight';
	color: #3ba8c0;
	background: #edf8fc;
	background-image: url('../img/add-project.png');
	background-repeat: no-repeat;
	background-position: center center;
	margin: auto;
	padding: 0;
}
.add-project {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
	margin-top: 90px;
}
.project.new:hover {
	cursor: pointer;
	background-color: white;
	background-image: url('../img/add-project.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.project.new a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.wrap-img-addproject {
	width: 32px;
	height: 32px;
	border: 2px solid #3ba8c0;
	border-radius: 4px;
}